@import url('https://fonts.googleapis.com/css2?family=Chango&family=Climate+Crisis:YEAR@1979&family=Zen+Kurenaido&display=swap');

/* Wrapper */
.navbar {
  position: absolute;   /* flyter ovanpå hero */
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Listan */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 36px;            /* luft mellan orden */
  margin: 0;
  padding: 0;
}

/* Länkar */
.nav-links a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #8a3f00;       /* mörk orange/brun */
  transition: opacity 0.2s ease;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  padding-top: 1.5rem;
}

.nav-links a:hover {
  opacity: 0.7;
}
